<section class="quick-links">

    <a href="home" class="logo"> <i class="fas fa-store"></i> Loma </a>

    <div class="links">
        <a href="home"> home </a>
        <a href="about"> about </a>
        <a href="products"> products </a>
        <a href="favorite"> favorite </a>
        <a href="cart"> cart </a>
    </div>

    <div class="share">
        <a class="fab fa-facebook-f"></a>
        <a class="fab fa-twitter"></a>
        <a class="fab fa-instagram"></a>
        <a class="fab fa-linkedin"></a>
    </div>

</section>

<section class="credit">

    <p> created by <span>Eslam Loma</span> || all rights reserved! </p>

    <img src="images/card_img.png" alt="">

</section>
