<div class="side-bar">

    <div id="close-side-bar" class="fas fa-times"></div>

    <div class="user">
        <img src="images/user-img.png" alt="">
        <h3>Eslam Loma</h3>
    </div>

    <nav class="navbar">
        <a href="home"> <i class="fas fa-angle-right"></i> home </a>
        <a href="about"> <i class="fas fa-angle-right"></i> about </a>
        <a href="products"> <i class="fas fa-angle-right"></i> products </a>
        <a href="favorite"> <i class="fas fa-angle-right"></i> favorite </a>
        <a href="cart"> <i class="fas fa-angle-right"></i> cart </a>
    </nav>

</div>