<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %> 
<!-- products section starts  -->
<section class="products sec_products">
    <h1 class="heading">favorite</h1>


    <div class="box-container">
    </div>
</section>
<!-- products section ends -->


<%- include("./partials/footer") %> 
<script src="favorite.js"></script>

</body>
</html>