<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>
    
    <%- include("./partials/header") %> 

    
<!-- products section starts  -->

<section class="products sec_products">

    <h1 class="heading"> featured <span>products</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/product-1.jpg" class="main-img" alt="">
                <img src="images/product-1-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">1-smartphone</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-2.jpg" class="main-img" alt="">
                <img src="images/product-2-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">2-camera</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-3.jpg" class="main-img" alt="">
                <img src="images/product-3-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">3-television</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-4.jpg" class="main-img" alt="">
                <img src="images/product-4-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">4-speaker</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-5.jpg" class="main-img" alt="">
                <img src="images/product-5-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">5-speaker</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas add_heart fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-6.jpg" class="main-img" alt="">
                <img src="images/product-6-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">6-smartwatch</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-7.jpg" class="main-img" alt="">
                <img src="images/product-7-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">7-headphone</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-8.jpg" class="main-img" alt="">
                <img src="images/product-8-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">8-smartphone</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/product-9.jpg" class="main-img" alt="">
                <img src="images/product-9-hover.jpg" class="hover-img" alt="">
                <div class="icons">
                    <a class="fas fa-shopping-cart"></a>
                    <a class="fas add_heart fa-heart"></a>
                </div>
            </div>
            <div class="content">
                <h3 class="title">9-camera</h3>
                <div class="price"><a class="priceItme">$249.99 </a><span>$399.99</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- products section ends -->

<%- include("./partials/footer") %> 
<script src="products.js"></script>

</body>
</html>